.skills-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;

}

.skills-container {
    /* display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px; */
    color: #fff;
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.skills-card {
    /* flex: 1;
    margin-right: 20px; */
    /* background: #1a1919; */
    background: #3A3B3C;
    padding: 1.2rem 1rem;
    /* Adjust margin as needed */
}

.skills-details {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.skills-title {
    color: #fff;
    padding: 1rem 0;
}

.skills-card:last-child {
    margin-right: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    /* text-align: center; */
}

li {
    margin: 0.8rem;

    /* padding: 0.5rem; */
    /* Adjust margin as needed */
}

@media screen and (max-width: 740px) {
    .skills-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}